@import '../../variables.scss';

.game {
    text-align: center;
    margin: 0 auto;

    div {
        margin-top: 5px;
    }

    .game__vs-text, .game__intro {
        font-size: 1.6rem;
    }

    .game__move-container {
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        justify-content: center;

        .game__move {

            img {
                max-width: 20vw;
                margin-top: 10px;
            }
        }

        .game__move--winner {
            border: 5px solid $win;
        }

        .game__move--draw {
            border: 5px solid $draw;
        }

        .game__move--loser {
            border: 5px solid $lose;
        }
    }

    .game__move-container--player {
        .game__move {
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

}