.round {
    margin: 0 auto;

    .round__grid {
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw;
        justify-content: center;
        border: 2px solid black;

        .round__result {
            margin: auto 0;
        }

        .round__choice {

            img {
                max-width: 20vw;
                margin-top: 10px;
            }
        }
    }
}